body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
}
textarea {
  background-color: #efe1d7;
  opacity: 0.8;
  border-radius: 8px;
}
.heading-text {
  margin-bottom: 3%;
}
.bg {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(./components/image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  width: 75vw !important;
  display: block;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  margin-top: 5%;
}
.title {
  margin-bottom: 2%;
}
.form-add {
  display: inline-block;
}
.label-add {
  display: flex;
  margin-bottom: 4%;
}
.input-add {
  min-width: 40vw;
  max-width: 45vw;
  max-height: 12vh;
  min-height: 4vh;
  width: 100%;
}
.notes-container {
  overflow: auto;
  max-height: 470px;
}
.notes-list {
  margin: 0;
  padding: 0;
  min-width: 25vw;
}

.label-note,
.edit-note {
  background-color: #efe1d7;
  border: #000 1px solid;
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1%;
  min-height: 5vh;
  min-width: 35vw;
  max-width: 70vw;
  width: 100%;
  word-wrap: break-word;
  border-radius: 8px;
  border-color: #000;
  border-width: 1.5px;
  box-shadow: 5px 5px #000;
}
.edit-note {
  border: #000 1px solid;
}
/*#region buttons */
.btn {
  margin-top: 2%;
  margin-bottom: 10%;
  background-color: #ad8260 !important;
  border-color: black !important;
}
.btn-add {
  width: 40%;
  align-items: center;
  margin: 0 0 5% 0;
  padding-top: 0 !important;
  height: 4vh;
  background-color: #ad8260 !important;
  border: none !important;
}
.btn-delete,
.btn-cancel {
  background-color: #d3664d !important;
  border-color: black !important;
}
/*#endregion*/
/*#region media */
@media only screen and (max-width: 1700px) {
  .container {
    margin: 16vh 0 0 0;
  }
  .notes-container {
    max-height: 42vh;
  }
}
@media only screen and (max-width: 1550px) {
  .container {
    margin: 14vh 0 0 0;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    margin: 18vh 0 0 0;
  }
  .notes-container {
    max-height: 30vh;
  }
  .input-add {
    min-width: 45vw;
    max-width: 50vw;
  }
}
/*#endregion*/